{% extends 'base.html' %}
{% load static %}
{% block title %} | Home {% endblock %}
{% block content %}

<div id="home"></div>
<section>
{% include 'partials/_carousel.html' %}

</section>

<!-- Image header -->

						
  {% if abouts %}
  <div class="w3-content w3-container w3-padding-large" >
      <h1 class="w3-center w3-margin w3-xxxlarge ">ABOUT GLC</h1>
  {% for about in abouts %}
    <img src="{{ about.image.url }}" height="300" width="400" alt="Image" class="w3-left w3-margin-right w3-padding w3-hide-small"> 
      <p>{{ about.content|safe|slice:"799"}}.....</p> 

      <div class="w3-hide-large w3-padding w3-hide-medium">
          <img src="{{ about.image.url }}" height="400" width="100%" alt="Image" class="w3-padding" style="background-color: white;"> 
      </div>
   {% endfor %}

    <div class="w3-content w3-margin-top w3-center">
        <a href="/about"><button  style="background-image: linear-gradient(to bottom, #5be8ee, #00b4d6, #0080b6, #004e8e, #061d5c);" class="btn w3-border-blue w3-hover-white w3-text-white w3-hover-text-amber">Discover More About Us </button></a>
    </div>   
  </div>  
  {% endif %}
<!-- Container (About Section) -->
<section class="w3-white w3-padding-large w3-margin-top " id="templatemo_features">
   
    <div class="container-fluid ">
        {% for category in categorys %}
      <div class="col-sm-6 col-lg-3 feature-box">
          <div class="feature-box-inner w3-hover-blue">
              <div class="feature-box-icon   ">
                  <i class="fa fa-pagelines"></i>
              </div>
              <p> <b class="w3-text-white">{{category.title }}</b> <br>
                  {{ category.statements }}
              </p>
          </div>  
        </div>
      {% endfor %}

    </div>
  </section>
<!-- Features -->

<section>   
  <div class="w3-container w3-blue w3-card w3-row w3-center  w3-padding-64" style="background-image: linear-gradient(to bottom, #5be8ee, #00b4d6, #0080b6, #004e8e, #061d5c);">
      {% if abouts %}
        {% for numbers in numberss %}  
          <div class="w3-quarter">
            <span class="w3-xxlarge">{{ numbers.numbers }}</span>
            <br>{{ numbers.title }}
          </div>
        {% endfor %}
      {% endif %}     
  </div>
</section>      



<section class="w3-light-grey w3-padding-large">
    <div class="w3-container w3-margin">
        <h1 class=" w3-jumbo  w3-center ">Our Team</h1>
    </div>
      <div class="container">
        <div class="row">
                    {% for team in teams %}
                      {% include 'partials/_teams.html' %}
                    {% endfor %}
                    
        <div class="w3-content ">
            <img src="{% static 'img/TEAM-logo.jpg' %}" style="width:400px; height:300px" alt="profiles" class="w3-hide-large w3-hide-small w3-margin-bottom"><br>
          <div class="w3-content w3-right">
          <a href="/teams"><button  style="background-image: linear-gradient(to bottom, #5be8ee, #00b4d6, #0080b6, #004e8e, #061d5c);" class="btn w3-border-blue w3-hover-white w3-text-white w3-hover-text-amber">View More Team Members </button></a>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>


<section class="w3-margin-bottom">
    {% include 'partials/_gallery.html' %}
</section>
 
 


{% endblock %}