<!-- Footer -->
<style>
a { text-decoration:none;}
</style>
<footer class="w3-center w3-highway-blue w3-padding-64">
    <a href="#home" class="w3-button w3-round-large w3-highway-red" style="text-decoration:none;"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

    
    
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-text-theme w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-text-orange w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-text-yellow w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-text-red w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-text-light-blue w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-text-black w3-hover-opacity"></i>
    </div>
    {% if user.is_authenticated %}
    <p><span><a href="/">Home</a></span> /<span><a href="/mobile">Mobile</a></span> / <span><a href="/tablet">Tablet</a></span> / <span><a href="/laptop">Laptop</a></span></p>
    {% endif %}
  </footer>