{% load static %}
<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-margin-top w3-bar-block  w3-card w3-animate-left w3-hide-medium w3-hide-large w3-highway-blue" style="display:none" id="mySidebar">
   
    <a href="javascript:void(0)" onclick="w3_close()" style="text-decoration:none;" class="w3-bar-item w3-button w3-highway-red w3-large w3-text-white w3-right w3-padding-16"> Close ×</a>
    <a href="/about" onclick="w3_close()" style="text-decoration:none;" class="w3-bar-item w3-button w3-hover-white ">ABOUT</a>
    <a href="/gallery" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-th w3-text-red"></i> GALLERY</a>    
    <a href="/contact" onclick="w3_close()" style="text-decoration:none;" class="w3-bar-item w3-button w3-hover-white">CONTACT</a>

    {% if user.is_authenticated %}
          <a href="javascript:{document.getElementById('logout').submit()}" style="text-decoration:none;" class="w3-bar-item w3-highway-blue  w3-button">
            <i class=""></i> SIGNOUT
          </a>
          <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden">
          </form>
          {% else %}
          <a href="{% url 'register' %}" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-user-plus w3-large w3-text-blue"></i> SIGNUP</a>
          <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hover-white" style="text-decoration:none;"><i class="fa fa-sign-in w3-large w3-text-blue"></i> SIGN IN</a>
          {% endif %}

  </nav>
  


  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    
    
    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");
    
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
    </script>